*{
    margin: 0;
    padding: 0;
} 
body{
    background-color: #64F2FF;
}
.navbar {
background-color:#6FFFCD;
height: 71px;
}
.navbar-brand {
    font-weight: bold;
    font-family: cursive;
    font-size: 46px;
}
h2{
    font-family: cursive;
}

.btn{
background-color : #6FFFCD;
border-color: black;
font-family: cursive;
width: 21%;

}
#cont-1{
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
    width: 53%;
    height: 72%;
    margin-left: 23%;
    margin-top: 3%;

}
#pomodoro-section{

    background-color: #ffffff;
    border-radius: 4%;
    width: 69%;
    height: 72%;
}
#time-display{
    font-weight: bolder;
}
#start-btn{
    width: 21%;
     font-family: cursive;
}
#pause-btn{
    width: 21%;
    font-family: cursive;
}#reset-btn{
    width: 21%;
    font-family: cursive;
}
.col-md-4{
    display: flex;
    flex-direction: column;
}
.form-label{
    font-family: cursive;
}
#completed-cycles{
    font-family: cursive; 
    font-size: xx-large;
}
#work-duration{
    width: 34%;
}
#short-break{
    width: 34%;
}
#long-break{
    width: 34%;
}
@media screen and (max-width: 600px) {
    #cont-1{
        width: 96%;
        margin-left: 2%;
    }
    #pomodoro-section{
        width: 93%;
    }
    #work-duration{
        width: 30%;
    }
    #short-break{
        width: 30%;
    }
    #long-break{
        width: 30%;
    }
    #start-btn{
        width: 25%;
    }
    #pause-btn{
        width: 25%;
    }
    #reset-btn{
        width: 25%;
    }
    .btn{
        width: 29%;
    }
    #timer-controls{
        display: flex;
        flex-direction: row;
    }
    .navbar-brand {
        font-size: 30px;
    }
    #completed-cycles{ 
        font-size: large;
    }
}